
{% if section.settings.render_style == "1" %}
<div class="section-{{ section.id }}-padding container">
  {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
  <link rel="stylesheet" href="{{ 'collections-filter.css' | asset_url }}">
  <section class="collections-filter">
    <div class="breadCrumb bread1">
      <a href="{{ routes.all_products_collection_url }}" class="breadCrumb__link">Home</a>
      <div class="breadCrumb__connect">
        {% render 'icon-arrowRight' %}
      </div>
      <a href="/collections/collection-page" class="breadCrumb__link">{{ collection.title }}</a>
    </div>
    <div class="collections_tittle">{{ 'collections-filter.main-title' | t }}</div>
    <div class="collections_inner container">
      <!-- LEFT -->
      <div class="collecttions_left_col">

        <div class="collections_filter">
          <ul class="main_wrap">
            <li class="item" id="Vegetables">{{ 'collections-filter.collection.option1' | t }}</li>
            <li class="item" id="Fruits">{{ 'collections-filter.collection.option2.tittle' | t }}
              <ul class="sub_wrap">
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem1' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem2' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem3' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem4' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem5' | t }}</li>
              </ul>
            </li>
            <li class="item" id="Laboratory">{{ 'collections-filter.collection.option3' | t }}</li>
            <li class="item">{{ 'collections-filter.collection.option4' | t }}</li>
            <li class="item">{{ 'collections-filter.collection.option5' | t }}</li>
            <li class="item">{{ 'collections-filter.collection.option6' | t }}</li>
          </ul>
        </div>
        {% render 'filters.liquid' , results: collection %}
      
      </div>
      <!-- RIGHT -->
      <div class="collecttions_right_col">

 
        <div class="right_col_header">
          <div class="viewbox_wrapper">
            <div class="viewbox_item" id="item_quanity_1">
              {% render 'View-1-icon' %}
            </div>
            <div class="viewbox_item" id="item_quanity_2">
              {% render 'View-2-icon' %}
            </div>
            <div class="viewbox_item" id="item_quanity_3">
              {% render 'View-3-icon' %}

            </div>
            <div class="viewbox_item" id="item_quanity_4">
              {% render 'View-5-icon' %}
            </div>
          </div>
          <div class="collections_sort" x-data="{
              sort: '{{ sort_by }}',
              sortCollection2(){          
              }
            }">
            <div class="filter_title">{{ 'collections-filter.tittle.sort-tittle' | t }}</div>
            <select id="sort-by" x-model="sort" @change="sortCollection()">
              {% for option in collection.sort_options %}
              <option class="filter_option" value="{{ option.value }}" {% if option.value==sort_by %}selected="selected"
                {% endif %}>
                {{ option.name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="filter_button">
            {% render 'filter-icon' %}
            <div class="filter_button_text">{{ 'collections-filter.tittle.filter-tittle' | t }}</div>
          </div>
        </div>
        <div
          class="product-grid-container{% if section.settings.filter_type == 'vertical' and section.settings.collapse_on_larger_devices %} product-grid-container-vertical{% endif %}"
          id="ProductGridContainer">
          <div class="collection_empty"></div>
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            <ul id="product-grid" data-id="{{ section.id }}" class="">        
              {%- paginate collection.products by 5   -%}
              {%- for product in collection.products -%}
              <li class="grid__item " id="ProductGridContainer">
                <div class="colRight_Item">
                  <div class="colRight_Item_pic">
                    {% for image in product.images %}
                    <div class="img_wrapper">
                      <a href="/products/{{product.handle }}" class=""><img src="{{ image | image_url}} "
                          class="Item_img" /></a>
                    </div>
                    {% break %}
                    {% endfor %}
                    <div class="Item_noteWrap">
                      {% for tag in product.tags %}
                      {% case tag %}
                      {% when 'SALE' %}
                      <div class="Item_note">
                       {% render 'icon-saleBrand'%}
                      </div>
                      {% when 'HOT' %}
                      <div class="Item_note">
                        {% render 'icon-hotBrand'%}
                      </div>
                      {% when 'NEW' %}
                      <div class="Item_note">
                        {% render 'icon-newBrand'%}
                      </div>
                      {% endcase %}
                      {% endfor %}
                    </div>
                    <div class="Item_AddtoCart">
                      <div class="Item_cartImg">
                        <a href="/products/{{product.handle }}" class=""> {% render 'icon-cartProduct' %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="colRight_Item_name">
                    <a href="/products/{{ product.handle }}" class="">
                      {{ product.title }}
                    </a>
                  </div>
                  <div class="colRight_Item_quanity">
                    <!-- {{ product.type }} -->
                  </div>
                  <div class="colRight_Item_priceWrap">
                    <div class="discount_price">${{ product.price | divided_by: 100.0 }} </div>
                    <div class="base_price"> ${{ product.price | divided_by: 100.0 }}</div>

                  </div>
                </div>
                {%- endfor -%}
              </li>
            </ul> 
            <div class="page_wrapper" id="page__wrapper">
              <div class="page_back"> 
                <svg width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9924 6.88755L15 1.65864L12.8092 0L8 7L12.8092 14L15 12.3414L10.9924 6.88755Z" fill="#4D4D4D"/>
                  <path d="M3.99237 6.88755L8 1.65864L5.80916 0L1 7L5.80916 14L8 12.3414L3.99237 6.88755Z" fill="#4D4D4D"/>
                  </svg>
              </div>
              {% for i in (1..paginate.pages) %}
              {% if i==1 %}
              <span class="page current">{{i}}</span>
              {% else %}

              <span class="page ">{{i}}</span>

              {% endif %}

              {% endfor %}
              <div class="page_next">
                <svg width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.0076 7.11245L15 12.3414L17.1908 14L22 7L17.1908 0L15 1.65863L19.0076 7.11245Z" fill="#4D4D4D"/>
                  <path d="M26.0076 7.11245L22 12.3414L24.1908 14L29 7L24.1908 0L22 1.65863L26.0076 7.11245Z" fill="#4D4D4D"/>
                  </svg>
                  
              </div>
            </div>
            <script>
              var Parts= '{{paginate.pages}}';
            </script>
            {%- endpaginate -%}
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
  var collection_handle= '{{collection.handle}}';

  </script>
</div>
{% endif%}
{% if section.settings.render_style == "2" %}
<div class="section-{{ section.id }}-padding container">
  {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
  <link rel="stylesheet" href="{{ 'collections-filter.css' | asset_url }}">
  <section class="collections-filter">
    <div class="breadCrumb bread1">
      <a href="/" class="breadCrumb__link">Home</a>
      <div class="breadCrumb__connect">
        {% render 'icon-arrowRight' %}
      </div>
      <a href="{{routes.all_products_collection_url}}" class="breadCrumb__link">{{ collection.title }}</a>
    </div>
    <div class="collections_tittle">Fruits</div>
    <div class="collections_inner container">
      <!-- LEFT -->
      <div class="collecttions_left_col">
        <div class="collections_filter">
          <ul class="main_wrap">
            <li class="item" id="Vegetables">{{ 'collections-filter.collection.option1' | t }}</li>
            <li class="item" id="Fruits">{{ 'collections-filter.collection.option2.tittle' | t }}
              <ul class="sub_wrap">
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem1' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem2' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem3' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem4' | t }}</li>
                <li class="sub_item">{{ 'collections-filter.collection.option2.subItem5' | t }}</li>
              </ul>
            </li>
            <li class="item" id="Laboratory">{{ 'collections-filter.collection.option3' | t }}</li>
            <li class="item">{{ 'collections-filter.collection.option4' | t }}</li>
            <li class="item">{{ 'collections-filter.collection.option5' | t }}</li>
            <li class="item">{{ 'collections-filter.collection.option6' | t }}</li>
          </ul>
        </div>
        {% render 'filters2.liquid' , results: collection %}     
      </div>
      <!-- RIGHT -->
      <div class="collecttions_right_col">
        <div class="right_col_header">
          <div class="viewbox_wrapper">
            <div class="viewbox_item" id="item_quanity_1">
              {% render 'View-1-icon' %}
            </div>
            <div class="viewbox_item" id="item_quanity_2">
              {% render 'View-2-icon' %}

            </div>
            <div class="viewbox_item" id="item_quanity_3">
              {% render 'View-3-icon' %}

            </div>
            <div class="viewbox_item" id="item_quanity_4">
              {% render 'View-5-icon' %}
            </div>
          </div>
          <div class="collections_sort" x-data="{
              sort: '{{ sort_by }}',
              
            }">
            <div class="filter_title">{{ 'collections-filter.tittle.sort-tittle' | t }}</div>
            <select id="sort-by" x-model="sort" @change="sortCollection2()">
              {% for option in collection.sort_options %}
              <option class="filter_option" value="{{ option.value }}" {% if option.value==sort_by %}selected="selected"
                {% endif %}>
                {{ option.name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="filter_button">
            {% render 'filter-icon' %}
            <div class="filter_button_text">{{ 'collections-filter.tittle.filter-tittle' | t }}</div>
          </div>
        </div>
        <div
          class="product-grid-container{% if section.settings.filter_type == 'vertical' and section.settings.collapse_on_larger_devices %} product-grid-container-vertical{% endif %}"
          id="ProductGridContainer">
          <div class="right_col_empty"></div>
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            {%- paginate collection.products by 5 -%}
            <ul id="product-grid" data-id="{{ section.id }}" class="" data-next-url="{{paginate.next.url}}">
              <!-- {% assign lazy_load = false %}
              {%- if forloop.index > 2 -%}
              {%- assign lazy_load = true -%}
              {%- endif -%} -->

              {%- for product in collection.products -%}
              <li class="grid__item " id="ProductGridContainer">
                <div class="colRight_Item">
                  <div class="colRight_Item_pic">

                    {% for image in product.images %}
                    <div class="img_wrapper">

                      <a href="/products/{{product.handle }}" class=""><img src="{{ image | image_url}} "
                          class="Item_img" /></a>
                    </div>


                    {% break %}
                    {% endfor %}
                    <div class="Item_noteWrap">
                      {% for tag in product.tags %}
                      {% case tag %}

                      {% when 'SALE' %}
                      <div class="Item_note">
                        {% render 'icon-saleBrand' %}
                      </div>


                      {% when 'HOT' %}
                      <div class="Item_note">
                        {% render 'icon-hotBrand' %}
                      </div>


                      {% when 'NEW' %}
                      <div class="Item_note">
                        {% render 'icon-newBrand' %}
                      </div>
                      {% endcase %}
                     {% endfor %}
                    </div>
                    <div class="Item_AddtoCart">
                      <div class="Item_cartImg">
                        <a href="/products/{{product.handle }}" class=""> {% render 'icon-cartProduct' %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="colRight_Item_name">
                    <a href="/products/{{ product.handle }}" class="">
                      {{ product.title }}
                    </a>
                  </div>
                  <div class="colRight_Item_quanity">       
                  </div>
                   <div class="colRight_Item_priceWrap">
                    <div class="discount_price">${{ product.price | divided_by: 100.0 }} </div>
                    <div class="base_price"> ${{ product.price_max | divided_by: 100.0 }}</div>
                  </div>
                </div>
                {%- endfor -%}
              </li>
            </ul>
            <script>
                var page_number ='{{paginate.pages}}';
            </script>
            {%- endpaginate -%}
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
  var testval= '{{collection.handle}}';
  </script>
  <script src="{{ 'ifinite-loading.js' | asset_url }}" defer></script>
</div>
{% endif%}
<script src="{{ 'collections-filter.js' | asset_url }}" defer></script>
<script src="{{ 'responsive.js' | asset_url }}" defer></script>
<script>
</script>
{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "presets": [
    {
      "name": "Collections"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "render_style",
      "label": "Choose style of design: ",
      "options": [
        {
          "value": "1",
          "label": "Style 1 - Pagination"
        },
        {
          "value": "2",
          "label": "Style 2 - LazyLoading"
        }
      ],
      "default": "1"
    }
  ]
}
{% endschema %}