<link rel="stylesheet" href="{{ 'footer-widget.css' | asset_url }}">

<section class="FooterWidget " data-section-type="footer" data-section-id="{{section.id}}">
<div class="FooterWidget_inner container">

    <div class="FooterWidget_content">
      {% for block in section.blocks %}
         {% case block.type %}
            {% when 'address' %}
            <div class="YourStore" {{ block.shopify_attributes }}>
               <div class="YourStore_tittle">{{block.settings.title}}</div>
               
               
               <div class="YourStore_Info">
                  {% if block.settings.show_icon %}
                  <div class="FooterWidget_svg">
                     {% render 'icon-gps' %}
                 </div>
                  {% endif %}
                       <div class="YourStore_address">
                          {{block.settings.address}}
                       </div>
               </div>
               <div class="YourStore_Schedule">
                  {{block.settings.content}}
               </div>
               <div class="YourStore_ShowOnMap">
                  {{block.settings.link_store}}
               </div>
   
               
           </div>


           {% when 'contact' %}
           <div class="NeedHelp" {{ block.shopify_attributes }}>

            <div class="NeedHelp_tittle">{{block.settings.title}}</div>
            <div class="NeedHelp_Phone">{{block.settings.contact}}</div>
            <div class="NeedHelp_Schedule">
                {{block.settings.content}}
                
              
            </div>
            <div class="NeedHelp_Email">
               {{block.settings.Store_Email}}
            </div>

            {% if block.settings.show_social %}
            <div class="NeedHelp_IconWrap">
               <div class="NeedHelp_Icom">
                  {% render 'icon-facebook' %}
               </div>
               <div class="NeedHelp_Icom">
                  {% render 'icon-instagram' %}
               </div>
               <div class="NeedHelp_Icom">
                  {% render 'icon-youtube' %}
               </div>
               <div class="NeedHelp_Icom">
                  {% render 'icon-pinterest' %}
               </div>
               <div class="NeedHelp_Icom">
                  {% render 'icon-in' %}
               </div>
           </div>
            {% endif %}
            
            {% endcase %}

         
            {% endfor %}
        </div>


        <div class="MenuWrap">
         
         
         {% for block in section.blocks %}
         {% case block.type %}  
         {% when 'menu' %}
            {%- assign menuList = linklists[block.settings.menu] -%}

              
                <ul class="menu-list">
                   {% if block.settings.hide_title %}
                   <li class="menu_title">{{menuList.title}}</li>
                   {% endif %}
                 
                    {%- if menuList.links.size > 0 -%} {%- for l in menuList.links -%} {%- render 'link', link: l -%} {%- endfor -%} {%- else -%} {%- for i in (1..5) -%}
                    <li class="list-item"><a href="javascript:void(0);" class="list-item-link link">Sample menu item</a></li>
                    {%- endfor -%} {%- endif -%}
                </ul>
                {% endcase %}  
         {% endfor %}
        </div>
        
    

        </div>
          
               
       


        



      




      
       



        



        



    </div>

</div>
</section>
{% schema %}
{
   "name": "Footer Widget",
   "tag": "section",
   "settings": [

   ],
   "blocks": [

      {
         "type": "address",
         "name": "Store address",
         "limit": 1,
         "settings": [
            {
               "type":"text",
               "id":"title",
               "label":"Title",
               "default": "Your store"
            },
            {
               "type":"checkbox",
               "id":"show_icon",
               "label":"Show Address icon",
               "default": true
            },
            {
               "type":"textarea",
               "id":"address",
               "label":"Store address"
            },
            {
              "type": "text",
              "id": "address_fs",
              "label": "Adjust Address text font size",
              "default": "14px",
               "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
            },
            {
               "type":"richtext",
               "id":"content",
               "label":"Information"
            },
            {
               "type":"text",
               "id":"link_store",
               "label":"Edit Link Store"
              
            }
         ]
      },
      {
         "type": "contact",
         "name": "Contact",
         "limit": 1,
         "settings": [
            {
               "type":"text",
               "id":"title",
               "label":"Title",
               "default": "Need help"
            },
            {
               "type":"textarea",
               "id":"contact",
               "label":"Store contact"
            },
            {
              "type": "text",
              "id": "contact_fs",
              "label": "Adjust Contact text font size",
              "default": "25px",
               "info": "[How to fill here?](https:\/\/support.arenacommerce.com\/a\/solutions\/articles\/6000256537)"
            },
            {
               "type":"richtext",
               "id":"content",
               "label":"Information"
            },
            {
               "type":"checkbox",
               "id":"show_social",
               "label":"Show Social icons",
               "default": true
            },
            {
               "type":"text",
               "id":"Store_Email",
               "label":"Edit Store Email"
            }
            
         ]
      },
      {
         "type": "menu",
         "name": "Menu list",
         "settings": [
            {
               "type":"link_list",
               "id":"menu",
               "label":"Select a menu"
            },
            {
               "type":"checkbox",
               "id":"hide_title",
               "label":"Hide Menu title",
               "default": true
            }
            
         ]
      }
   ]
}
{% endschema %}
