<script>console.log({{ cart | json }});</script>
<link rel="stylesheet" href="{{ 'cart.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="cartContainer" >
  <div class="cartContainer__inner container">
    <div class="breadCrumb">
      <a href="{{ routes.root_url }}" class="breadCrumb__link">Home</a>
      <div class="breadCrumb__connect">
        {% render 'icon-arrowRight' %}
      </div>
      <a href="{{ routes.cart_url }}" class="breadCrumb__link">{{ 'main-cart-items.title' | t }}</a>
    </div>
    <div class="cartContainer__title">{{ 'main-cart-items.title' | t }}</div>
    <form action="{{ routes.cart_url }}" method="post" id="cart">
      <div class="cart">
        <div class="cart__content">
          <div class="cart__fieldContainer">
            <div class="cart__field">
              <div class="cart__field-option productCartField">Product</div>
              <div class="cart__field-option priceCartField">Price</div>
              <div class="cart__field-option quantityCartField">Quantity</div>
              <div class="cart__field-option subtotalCartField">Subtotal</div>
            </div>
            {% for item in cart.items %}
              <div class="cart__item">
                <div class="cart__itemProduct">
                  <div class="cart__btnRemove" idProduct="{{ item.id }}" >x</div>
                  <div class="cart__itemProductImg">
                    <a href="{{ item.url }}" class="">
                      <img src="{{ item.image | img_url: 'medium' }}" alt="" width height>
                    </a>
                  </div>

                </div>
                <div class="cart__infoProduct">
                  <div class="cart__itemProductName">
                    <a href="{{ item.url }}" class="">{{ item.title }}</a>
                  </div>
                  <div class="cart__itemPrice">
                    <div class="cart__itemLastPrice">{{ item.price | money }}</div>
                    <div class="cart__itemBasePrice">{{ item.price | money }}</div>
                  </div>
                  <div class="cart__itemQuantity" >
                    <div class="cart__itemAdjust" idProduct="{{ item.id }}" index="{{ forloop.index }}">
                      <div class="cart__minusBtn">-</div>
                      <input min="1" type="number" class="cart__quantityLineItem" value="{{ item.quantity }}" />
                      <div class="cart__plusBtn">+</div>
                    </div>
                  </div>
                  <div class="cart__itemSubtotal">
                    <div class="cart__itemSubtotal-LastPrice">{{ item.line_price | money }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="cart__total">
            <div class="cart__total-title">Cart totals</div>
            <div class="cart__totalContent">
              <div class="cart__total-subTotal">
                <div class="cart__total-subTotal-text">Subtotal</div>
                <div class="cart__total-subTotal-content">{{ cart.original_total_price | money }}</div>
              </div>
              <div class="cart__total-shipping">
                <div class="cart__total-shipping-text">Shipping</div>
                <div class="cart__total-shipping-content">{{ 'main-cart-items.cartTotal.shipping' | t }}</div>
              </div>
              <div class="cart__total-total">
                <div class="cart__total-total-text">Total</div>
                <div class="cart__total-total-content">{{ cart.total_price | money }}</div>
              </div>
              <div class="cart__btnCheckout">{{ 'main-cart-items.cartTotal.checkout' | t }}</div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{{ 'cart.js' | asset_url | script_tag }}
{% schema %}
{
  "class":"main-cart-items"
}
{% endschema %}