<link rel="stylesheet" href="{{ 'upSell.css' | asset_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% assign dataProducts = product.metafields.product.group1 | split: '|' %}
<section class="upSell">
    <div class="upSell_inner container">
        <div class="upSell_tittle">{{ section.settings.section_title }}</div>
        <div class="upSell__content">
            {% for dataProduct in dataProducts limit: 6 %}
                {% assign data = all_products[dataProduct] %}
                <div class="productCard" >
                  <div class="productCard__pic">
                      <a href="{{ data.url }}" class="">
                          {% if product.featured_image.src == null %}
                              {{ 'product-1' | placeholder_svg_tag }}
                          {% else %}
                              <img src=" {{ data.featured_image.src | img_url:'medium' }} " width height />    
                          {% endif %}
                         
                          <div class="productCard__pic-noteWrap">
                              {% if data.compare_at_price < data.price %}
                                <div class="item__note">
                                    {% render 'icon-saleBrand' %}
                                </div>
                              {% endif %} 
                              {% for tag in data.tags %} 
                                  {% if tag == "HOT" %}
                                  <div class="item__note">
                                          {% render 'icon-hotBrand' %}
                                  </div> 
                                  {% endif %}
                                      
                                  {% if tag == "NEW" %}
                                  <div class="item__note">
                                          {% render 'icon-newBrand' %}
                                  </div>
                                  {% endif %}
                              {% endfor %} 
              
                              
                          </div>  
                          <div class="productCard__pic-addtoCart">
                              {% render 'icon-cartProduct' %}
                          </div>
                      </a>
                  </div>
                  <div class="productCard__name">
                      <a href="{{ data.url }}" class="">{{ data.title }}</a>
                      
                  </div>
                  <div class="productCard__quantity">
                    {% for data in data.options_with_values %}
                      <label>
                        {{ data.name }}
                        <select class="upSell__selectOption">
                          {% for value in data.values %}
                            <option {% if data.selected_value == value %}selected{% endif %}>
                              {{ value }}
                            </option>
                          {% endfor %}
                        </select>
                      </label>
                  {% endfor %}
                  </div>
                  <div class="productCard__priceWrap">
                      <div class="productCard__discountPrice"> {{ data.compare_at_price | money }}</div>
                      <div class="productCard__basePrice"> {{ data.price | money }}</div>                               
                  </div>
              </div>
            {% endfor %}
        </div>
        </div>
    </div>

</section>

{% schema %}
{
  "name": "UpSell",
  "tag": "section",
  "presets": [
    {
      "name": "UpSell",
      "blocks": [
      ]
    }
  ],
  "settings": [
    {
    "type": "text",
    "id": "section_title",
    "label": "Input Title"
    }
    
  ],
  "blocks": [
    {
      "type":"add_Product",
      "name":"Add Product",
      "settings": [
        {
        "type":"image_picker",
        "id":"image",
        "label":"Pick Product Avatar (temporily)"
        },
        {
        "type": "product",
        "id": "product",
        "label": "Select a product"
        },
        {
            "type": "header",
            "content": "Edit Note"
        },
        {
            "type": "checkbox",
            "id": "sale",
            "label": "Sale",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "hot",
            "label": "Hot",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "new",
            "label": "New",
            "default": true
        },
        {
            "type": "text",
            "id": "quanity",
            "label": "Pick Product quanity"
        },
        {
            "type": "header",
            "content": "Input Pirce with discount"
        },
        {
            "type": "text",
            "id": "price1",
            "label": "Input Discount Price"
        },
        {
            "type": "text",
            "id": "price2",
            "label": "Input Base Price"
        },
        {
            "type": "header",
            "content": "Or Input regular price"
        },
        {
            "type": "text",
            "id": "price3",
            "label": "Input Regular Price"
        }
      
      ]
    }
  ]
}
{% endschema %}