{% assign product = card-product %}
<div class="productCard" >
    <div class="productCard__pic">
        <a href="/products/{{ product.product.handle }}" class="">
            {% if product.featured_image.src == null %}
                {{ 'product-1' | placeholder_svg_tag }}
            {% else %}
                <img src=" {{ product.featured_image.src | img_url:'medium' }} " width height />    
            {% endif %}
           
            <div class="productCard__pic-noteWrap">
                {% for tag in product.product.tags %}
                    {% if tag == "SALE" %}
                        <div class="item__note">
                            {% render 'icon-saleBrand' %}
                        </div>
                    {% endif %}  
                    {% if tag == "HOT" %}
                    <div class="item__note">
                            {% render 'icon-hotBrand' %}
                    </div> 
                    {% endif %}
                        
                    {% if tag == "NEW" %}
                    <div class="item__note">
                            {% render 'icon-newBrand' %}
                    </div>
                    {% endif %}
                {% endfor %} 

                
            </div>  
            <div class="productCard__pic-addtoCart">
                {% render 'icon-cartProduct' %}
            </div>
        </a>
    </div>
    <div class="productCard__name">
        <a href="/products/{{ product.product.handle }}" class="">{{ product.product.title }}</a>
        
    </div>
    <div class="productCard__quantity">
        {{ product.title }}
    </div>
    <div class="productCard__priceWrap">
        <div class="productCard__discountPrice"> {{ product.compare_at_price | money }}</div>
        <div class="productCard__basePrice"> {{ product.price | money }}</div>                               
    </div>
</div>